## Folders
.idea             # JetBrains
.sass-cache       # Sass
node_modules/     # NPM
node_modules      # NPM
.no-commit
builds

## Files
.DS_Store         # Mac OS
desktop.ini       # Windows
*.afdesign        # Affinity
*.psd             # Adobe Photoshop
*.psb             # Adobe Photoshop
*.ai              # Adobe Illustrator
*.zip             # Zip
*.7z              # 7-Zip
*.save.*
*.old.*
*.min.*
